*.zip
*.pt
*.pth
*.onnx
*.json
*.csv
*.log
*.png
*.gif

dataset/

*.npy
*.pkl
*.zip
*.csv

__pycache__/
*.py[cod]
*$py.class
*.npz

venv/
env/
.env

data/
dataset/
runs/      
logs/      

.DS_Store
.vscode/
.idea/